html,body 
{
  height:100%;
  background: #e0d4bb;
}

.error
{
  color: red;
}

.users
{
  display: block;
  color: white;
}

.users:hover
{
  color: blue;
  background-color: orange;
  cursor: pointer;
}

#main_chat_window
{
  background: #99bbaa;
  box-sizing: border-box;
  overflow-y: scroll;
  float: left;
  width: 85%;
  height: 80%;
  white-space:pre-line;
  border-style: solid;
  border-width: 1px;
}

#logout_button
{
  height: 5%;
  width: 15%;
}

#users_window
{
  background: #3e6789;
  box-sizing: border-box;
  overflow-y: scroll;
  float: left;
  width: 15%;
  height: 75%;
  border-style: solid;
  border-width: 1px;
}

#typing_window
{
  background: #e7ebdc;
  box-sizing: border-box;
  clear: both;
  float:left;
  width: 85%;
  height: 15%;
  resize: none;
  overflow-y: scroll;
}

#send_button
{
  box-sizing: border-box;
  float: left;
  height: 7%;
  width: 15%;
  white-space: normal;
}

.users
{
  display: block;
}

.users:hover
{
  background-color: orange;
  cursor: pointer;
}
